.nav {
  display: block;
  float: right;
  padding: 10px 0 0 0;

  a, a:visited {
    text-decoration: none;
    font-weight: bold;
  }

  @media (max-width: $vertical-ipad) {
    float: none;
  }

  .ember-power-select-trigger {
    min-width: 56px;
  }
  .nav-item {
    display: inline-block;
    margin-right: 10px;
  }

  // relates to menu.scss
  @media (max-width: $vertical-ipad) {
    position: absolute;
    top: 0;
    right: 0;

    .nav-item {
      display: block;
    }
  }
}
