@import './colors.scss';

// Route Templates
@import './about.scss';
@import './index.scss';
@import './stats.scss';

// Components
@import './components/artist-info.scss';
@import './components/event-info.scss';
@import './components/calendar-event.scss';
@import './components/force-graph.scss';

// Partials
@import './_nav.scss';

body {
  margin: 0px;
  padding: 0;
  font-size: 14px;
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Circular", Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.selectable {
  cursor: pointer;

  &:hover {
    background-color: $dark-grey-color;
  }

  &.selected, &.active {
    background-color: $darker-grey-color;
  }
}

.button {
  padding: 0 2px;
  border: 1px solid $grey-color;
  cursor: pointer;
  border-radius: 3px;
}

strong {
  font-weight: bold;
  color: $red-color;
}

.red-text {
  color: $red-color;
}

.ember-power-select-trigger {
  display: inline-block;
  min-width: 45px;
  margin-right: 10px;
}

.ember-power-select-options[role=listbox] {
  max-height: none !important;
}

@import "ember-power-select";
