@import "ember-power-select";

@import './colors.scss';

// Route Templates
@import './about.scss';
@import './index.scss';
@import './stats.scss';

// Components
@import './components/artist-info.scss';
@import './components/event-info.scss';
@import './components/calendar-event.scss';
@import './components/force-graph.scss';

// Partials
@import './_nav.scss';

body {
  margin: 0px;
  padding: 0;
  font-size: 14px;
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Circular", Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.selectable {
  cursor: pointer;
  border-bottom: 1px solid transparent;

  &:hover {
    border-bottom: 1px solid black;
    transition: border-bottom-color .4s;
  }

  &.selected, &.active {
    border-bottom: 1px solid black;
  }
}

.button {
  padding: 0 2px;
  border: 1px solid $grey-color;
  cursor: pointer;
  border-radius: 3px;
}

.red-text {
  color: $red-color;
}

.ember-power-select-trigger {
  display: inline-block;
  min-width: 45px;
  margin-right: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  font-weight: bold;
  top: 8px;

  border-bottom: 1px solid transparent;
  border-radius: 0;

  &:hover {
    border-bottom: 1px solid black;
    transition: border-bottom-color .4s;
  }
}

.ember-power-select-options[role=listbox] {
  max-height: none !important;
}

h1 {
  font-size: 35px;
  font-weight: bold;
  color: $red-color;
}

.index__title {
  display: inline-block;
}

.index__subtitle {
  font-size: 15px;
  display: inline-block;
  margin-left: 10px;
}

.loading-spinner {
  text-align: center;

  svg {
    stroke: $green-color;
    fill: $green-color;
  }
}
