@import './colors.scss';

// Route Templates
@import './index.scss';
@import './stats.scss';

// Components
@import './components/artist-info.scss';
@import './components/event-info.scss';
@import './components/force-graph.scss';

body {
  margin: 0px;
}

* {
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}

.selectable {
  &:hover {
    background-color: $dark-grey-color;
  }

  &.selected {
    background-color: $darker-grey-color;
  }
}
