$grey-color: #ccc;
$dark-grey-color: #eee;
$darker-grey-color: darken($dark-grey-color, 10%);
$aqamarine-background: rgba(113,255,201,0.65);
$green-color: rgb(38,211,79);
$green-background: rgba(38,211,79,0.65);
$dark-green: green;
$red-color: $green-color;
$black: black;
$white: white;
