$margin: 10px;

.index-container {
  height: calc(100vh - 10px);
  width: calc(100% - 12px);
  padding: 10px;

  .index-container__header {
    width: 100%;
    height: 70px;
    position: relative;
  }

  .index-container__graph-viewport {
    height: calc(100vh - 320px);
    width: 100%;
  }

  .index-container__cta {
    position: absolute;
    left: 50%;
    top: 25px;
    transform: translate(-50%, -50%);
    margin: 10px;
    text-align: center;
    font-weight: bold;
    color: $red-color;
  }

  .index-container__column {
    width: 100%;
    height: 100%;
  }

  .index-container__column-header {
    width: 100%;
    text-align: center;
    margin: 20px;
  }

  .index-container__events {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
  }

  .index-container__artist-info {
    position: absolute;
    top: 100px;
    left: 10px;
    background-color: rgba(0,0,0,0.15);
  }
}
