$margin: 10px;

.index-container {
  height: calc(100vh - 10px);
  width: calc(100% - 12px);
  padding: 10px;

  .index-container__graph-viewport {
    height: calc(100vh - 134px);
    width: 100%;
  }

  .index-container__cta {
    border: 1px solid $grey-color;
    margin: 10px;
    text-align: center;
    font-weight: bold;
    color: $red-color;
  }

  .index-container__column {
    width: 100%;
    height: 100%;
  }

  .index-container__events {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
  }
}
