.stats {
  display: flex;
  padding: 10px;
  height: 100vh;
  overflow-y: scroll;

  .stats__title {
    font-weight: bold;
  }

  .stats__column {
    flex: 1;
  }

  .stats__number {
    color: $red-color
  }

  .stats__line {
    padding: 10px;
    width: 100%;
    cursor: pointer;
  }

  .stats__artist {
    position: absolute;
    top: 70px;
    right: 20px;

    @media (max-width: $mobile-width) {
      top: 50px;
      right: 10px;
    }
  }
}
