.artist-info {
  width: 100%;
  padding: 10px;

  .artist-info__number {
    color: $red-color;
  }

  .artist-info__column_image {
    padding: 5px 10px;

    img {
      padding: 2px;
      border: 1px solid $grey-color;
    }
  }

  .artist-info__column,
  .artist-info__column_image {
    vertical-align: top;
    display: inline-block;
  }

  .artist-info__name {
    font-weight: bold;
  }

  .artist-info__instrument {
    margin-left: 10px;
    color: $red-color;
  }

  .artist-info__button {
    margin-left: 10px;
  }
}
