// TODO
// fix wrapping of long lines
// hover for artist to show clickable
// highlighted color
// color for date and instruments
// disappearing message to tell user to click on artist
// select all artists in graph
// artist search tab (by name and instrument, only artists in actual events)
// see if I can use data from recording paper

$calendar-event-width: 212px;

.calendar-event {
  width: $calendar-event-width;
  max-width: $calendar-event-width;
  padding: 10px;
  position: relative;

  .calendar-event__name {
    font-weight: bold;
  }

  .calendar-event__date, .calendar-event__time {
    color: $red-color;
    text-align: left;
  }

  .calendar-event__artists {
    position: absolute;
    margin-top: 10px;
    z-index: 2;
    width: 100%;
    padding: 10px;

    background-color: $black;
    color: $white;
    border-radius: 5px;
    box-shadow: 3px 2px 4px grey;

    opacity: 0;
    visibility: hidden;

    &.is-visible {
      visibility: visible;
      -webkit-transition: visibility 0s, opacity 0.4s ease-in;
      -moz-transition: visibility 0s, opacity 0.4s ease-in;
      -o-transition: visibility 0s, opacity 0.4s ease-in;
      opacity: 1;
    }

  }

  .calendar-event__artist {
    display: block;
    overflow: hidden;
    width: 100%;
    cursor: pointer;

    &:hover {
      border-color: $white;
    }
  }

  .calendar-event__artist_name {
    color: $white;
    max-width: 150px;
  }

  .calendar-event__instrument {
    color: $green-color;
    float: right;
  }

  .calendar-event__button-caret {
    color: $grey-color;
    font-size: 10px;
  }
}
