<div class="about">
  <p class="about__p">
    Jazz is a style of music that is heavily rooted in community, and I wanted a way to visually explore the connections between musicians.
  </p>
  <p class="about__p">
    I was inspired by this quote from
    <a href="http://www.smallslive.com" target="_blank" rel="noopener">
      Smalls Jazz Club
    </a>
    owner Spike Wilner in his
    <a
      href="http://us5.campaign-archive2.com/?u=76eb9d2dd6485b9ecfbcbe904&id=d7e7bdec11"
      target="_blank"
      rel="noopener"
    >
      June 1, 2015 newsletter
    </a>
    :
  </p>
  <div class="about__quote">
    <p>
      "Dear Friends:"
    </p>
    <p>
      "There was a wonderful moment at Smalls late-night Saturday (early morning Sunday) when all of the cats rolled through to hear drummer Quincy Davis, who is not that often in town.  That night top drummers on the scene such as Willie Jones III, Nasheet Waits, Jason Brown and Eric McPherson came out to support and listen.  In attendance was veteran jazz warriors such as Abraham Burton and Eric Wyatt and many others.  This was the scene of the real professional players- cats marking near 30 years or more on the scene.  It was a scene of old friends meeting and exclaiming joyfully, hands clapping, hugs giving, laughter.  The camaraderie of the family of musicians, ever joyful to see each other, to get updated and to reminisce."
    </p>
    <p>
      "Eric McPherson, my friend since teenage years and constant musical colleague, and I discussed the phenomenon of being able to be
      <strong>
        friends with and to work with the same people your entire life. We wondered how many other professions have this luxury?
      </strong>
      That the same circle of musicians you came up with are still the ones that you see and perform with every day.  The long run!  The mounting of years and the mounting of experience.  The deepening of the bond and the deepening of the commitment.  The music is stronger than ever in the hearts of these cats.  These are the lifers, the ones that will see out to the end."
    </p>
  </div>

  <p class="about__p">
    Other projects such as
    <a href="http://www.mapofjazz.com" target="_blank" rel="noopener">
      Map of Jazz
    </a>
    and
    <a href="http://www.linkedjazz.org" target="_blank" rel="noopener">
      Linked Jazz
    </a>
    have already explored the connections among musicians based on recording history, and I thought it would be interesting to create a social graph of musicians who play live in New York by analyzing the data from
    <a href="http://www.smallslive.com" target="_blank" rel="noopener">
      Smalls Jazz Club's
    </a>
    excellent archive.
  </p>

  <div class="about__images">
    <a href="http://www.mapofjazz.com" target="_blank" rel="noopener">
      <img
        src="assets/images/mapofjazz.png"
        alt="Map of Jazz"
        class="about__network_img">
    </a>
    <a href="http://www.linkedjazz.org" target="_blank" rel="noopener">
      <img
        src="assets/images/linked-jazz.png"
        alt="Linked Jazz"
        class="about__network_img">
    </a>
  </div>
  <p class="about__p">
    Splanky is the name of a great song written Neal Hefti and recorded by
    <a
      href="https://www.youtube.com/watch?v=VBTSoLzZ3-U"
      target="_blank"
      rel="noopener"
    >
      The Count Basie Orchestra
    </a>
    . This site was built using
    <a href="https://emberjs.com/" target="_blank" rel="noopener">
      Ember
    </a>
    ,
    <a href="https://d3js.org/" target="_blank" rel="noopener">
      D3
    </a>
    , and
    <a href="http://phoenixframework.org/" target="_blank" rel="noopener">
      Phoenix (Elixir)
    </a>
    . Feel free to contact me with questions or comments at
    <a href="mailto:isaac@splanky.net">
      isaac@splanky.net
    </a>
    and please visit
    <a href="http://www.isaacezer.com">
      isaacezer.com
    </a>
    .
  </p>
  <p class="about__p">
    <a href="https://www.isaacezer.com">
      <img
        src="assets/images/isaac-201.jpg"
        alt="Isaac Ezer"
        class="about__bio">
    </a>
  </p>
  <p class="about__p">
    Graph background photo credit to <a href="https://www.flickr.com/photos/8786051@N03/35311626170" target="_blank" rel="noopener">tiernantech on Flicker.</a>
  </p>

  <p class="about__p">
    <LinkTo @route="index" class="selectable">
      Back to the graph.
    </LinkTo>
  </p>
</div>
