<h3 class="graph-intro-text visible">
  Here is everyone who the artist has played with at Smalls Jazz Club. Click on other musicians to explore their graph, or press <strong>Clear</strong> to return to the monthly graph.
</h3>

<div class="force-graph" style="height: 100%;">
  <div class="force-graph__background">
  </div>

  <LoadingSpinner />
</div>
