<div class='index-container'>
  <div class='index-container__column'>
    <div class='index-container__events'>
      {{#if selectedArtist}}
        {{#artist-info artist=selectedArtist month=monthInt}}
          {{input type="checkbox" name="includeBandmates" checked=includeBandmates}} Include Bandmates
        {{/artist-info}}
      {{/if}}

      {{#each sortedEvents as |event|}}
        {{event-info event=event
          selectArtist=(action (mut selectedArtist))
          selectedArtist=selectedArtist}}
      {{/each}}
    </div>
  </div>

  <div class='index-container__column'>
    {{force-graph graph=graph
      selectArtist=(action (mut selectedArtist))
      selectedArtist=selectedArtist}}
  </div>
</div>
