{{partial 'nav'}}

<div class='stats'>
  {{stats-column artists=model
    key="bandMates"
    title="Who's played with the most people?"
    selectedArtist=selectedArtist
    selectArtist=(action (mut selectedArtist))}}

  {{stats-column artists=model
    key="events"
    title="Who's had the most gigs?"
    selectedArtist=selectedArtist
    selectArtist=(action (mut selectedArtist))}}

  <div class="stats__column">
    {{#if selectedArtist}}
      {{#artist-info artist=selectedArtist
         clearArtist=(action (mut selectedArtist))}}

        {{#link-to 'index' (query-params artist=selectedArtist.id month=allMonths)}}
          See {{selectedArtist.name}}'s graph
        {{/link-to}}
      {{/artist-info}}
    {{/if}}
  </div>
</div>
