<div class='stats'>
  <div class="stats__column">
    <span class="stats__title">
      Who's played with the most people?
    </span>

    {{stats-column artists=model
      key="bandMates"
      selectArtist=(action (mut selectedArtist))}}
  </div>

  <div class="stats__column">
    <span class="stats__title">
      Who's had the most gigs?
    </span>

    {{stats-column artists=model
      key="events"
      selectArtist=(action (mut selectedArtist))}}
  </div>

  <div class="stats__column">
    {{#if selectedArtist}}
      {{#artist-info artist=selectedArtist
         clearArtist=(action (mut selectedArtist))}}

        {{#link-to 'index' (query-params artist=selectedArtist.id)}}
          See {{selectedArtist.name}}'s graph
        {{/link-to}}
      {{/artist-info}}
    {{/if}}
  </div>
</div>
